/**
Alfa Slab One
*/
@font-face {
	font-family: 'Alfa Slab One';
	src: url('~assets/fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

/**
Roboto
 */
@font-face {
	font-family: 'Roboto';
	src: url('~assets/fonts/Roboto/Roboto-Regular.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}