$bp-1: 700px;

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	font-size: 100%;
	min-height: 100vh;

	@media (min-width: 2000px) {
		font-size: 120%;
	}
}

.container {
	width: 100%;
	display: block;
	padding: 0 $container-padding-desktop;

	@media (max-width: $bp-1) {
		padding: 0 $container-padding-mobile;
	}
}

.page {
	padding-top: rem(88);
}

.page-enter-active, .page-leave-active {
	transition: $transition-fast;
}
.page-enter, .page-leave-to {
	opacity: 0;
	transform: translateY(rem(40));
}